[2017-01-12 15:01] punkyoon opened #1 "채팅 기능 구현"
1. nodejs+socketio로 분리해서 구현
 -> 인증문제?
2. django + redis + channels + websocket
 -> 다른 프로젝트의 채팅 예제를 따라해봤으나, 계속적으로 실패 (이유는 확인하지 못함)
3. django + tornado / twisted / ...
 -> 세부적으로 확인 필요

[2017-01-12 15:05] punkyoon commented on #1
django에서 websocket을 이용하는 방법 ?
 - http://django-socketio.readthedocs.io/
 - https://gevent-socketio.readthedocs.io/

[2017-01-12 15:45] punkyoon commented on #1
django-socketio ; django1.10, python3 지원 안하는 듯

[2017-01-12 16:03] punkyoon commented on #1
nodjango? https://github.com/pztrick/django-socketio-events/

[2017-01-12 16:09] punkyoon commented on #1
django + ajax chat도 생각해보기

[2017-01-13 02:49] fuzzythecat commented on #1
socket.io 대체..? ->
https://github.com/josephg/ShareJS

[2017-01-13 02:54] fuzzythecat commented on #1
루비 사용한 챗 예시
https://github.com/antonmi/code_together

[2017-01-13 02:57] fuzzythecat commented on #1
codemirror를 사용한 collaborative code editing (firepad)
https://firepad.io/#1

[2017-01-14 18:08] punkyoon commented on #1
https://github.com/andrewgodwin/channels-examples/tree/master/multichat/chat

https://github.com/andrewgodwin/channels-examples/

위의 예제들과 channels 공식문서를 잘 활용하면 구현 성공할 수 있을 것 같습니다!

[2017-01-15 16:15] punkyoon opened #2 "라이센스 정리"
- dependency와 opensource code의 사용 구별
- 사용하는 opensource code의 라이센스 정리
- 라이센스 충돌 시, 다른 라이센스의 사용 검토

[2017-01-16 13:14] juice500ml opened #5 "프론트/백 주석 달기"

[2017-01-16 13:15] juice500ml opened #6 "모델 구성하기"
https://github.com/punkyoon/coding-night-live/projects/1

[2017-01-21 07:50] juice500ml opened #7 "asgi_redis도 필요한거 아닌가요?"
http://stackoverflow.com/questions/37342571/django-channels-error-cannot-import-backend-asgi-redis-redischannellayer

똑같은 에러가 나서 저렇게 해보니 해결됨.

[2017-01-21 12:34] juice500ml opened #8 "Markdown tooltip 이어서 개발"
예시
https://github.com/punkyoon/coding-night-live/commit/af07e99f67a9bd46a82d4a12c878579d44e8ed85

[2017-01-21 13:10] juice500ml commented on #8
use https://v4-alpha.getbootstrap.com/components/modal/ for images.
ask first (giphy makes image public) - then upload

[2017-01-21 14:20] punkyoon commented on #7
redis관련 패키지도 requirements에 넣어줘야겠네요.. 확인했습니다.

[2017-01-22 04:23] juice500ml commented on #7
글고 aws에서 돌리면 이런저런 문제가 나는데
1. channels 설치할때 twisted 설치 실패
2. trusted_hosts에 현재 ip 추가
@fuzzythecat 확정되면 위키에 추가작성해주세요

[2017-01-22 13:06] juice500ml opened #9 "how to save slides sorted"
http://dba.stackexchange.com/questions/5683/how-to-design-a-database-for-storing-a-sorted-list

[2017-01-22 13:08] juice500ml commented on #9
100개 미만일테니 그냥 매번 rank 업데이트해도 큰 문제가 생길 것 같지는 않긴 함..

[2017-01-22 13:13] punkyoon commented on #9
의외로 100장 넘어가는 슬라이드 뿌리는 세미나 많은데 그래도 괜찮겟져?

[2017-01-22 13:19] juice500ml commented on #9
사실 간격을 늘려서 저장하는 것도 괜찮아보이는 방법이긴 함

[2017-01-23 06:17] juice500ml commented on #7
asgi_redis added. e9a3717a768c45c563cbe457e2fcb6772a2c8765

[2017-01-23 08:29] #1 closed, assigned to juice500ml, punkyoon

[2017-01-23 08:30] #6 closed, assigned to juice500ml, punkyoon

[2017-01-23 08:30] #9 closed, assigned to nobody

[2017-01-23 08:30] juice500ml commented on #9
linked list!

[2017-01-23 08:32] juice500ml commented on #7
twisted는 sudo pip3으로 하면 해결.

[2017-01-23 08:39] juice500ml commented on #8
- \<h1\>의 경우 오른쪽 rendered markdown에는 보이지 않고, 제목에만 보이도록.
- link와 image link alert 없애기
- modal로 help page 만들기

[2017-01-25 18:28] juice500ml commented on #8
6b7a27fb40363de649379c9bb940a966c63a29d5
modal로 help page 만들기 외에 완료

[2017-01-25 18:28] juice500ml commented on #2
df450a54b2bf613ec26d26aaced6b086f99ff6d2
jquery ui도 추가해주세요.

[2017-01-25 20:33] juice500ml opened #10 "slide의 title 처리 문제"
현재 slide상에서 title을 빼내는 방식은 (6b7a27fb40363de649379c9bb940a966c63a29d5)
1. 전체 string을 markdown.render에 넣은 뒤
2. render된 결과를 "out"의 innerHTML에 넣고 (이 과정에서 DOM update)
3. jquery를 이용해 전체 HTML으로부터 h1을 검색하여
4. 맨 첫 h1의 textContent를 이용해 title을 빼냅니다 (@fuzzythecat 전체 dom tree에 h1이 오직 id="out"인 div에만 쓰이라는 보장이 없습니다. 오직 out.innerHTML에서만 검색하도록 고쳐주세요.)

여기서 문제는 title이 slide의 text를 markdown.render 안에서 뽑아낸다는 점에 있습니다.

[2017-01-25 20:48] juice500ml commented on #2
https://github.com/dduk-ddak/coding-night-live/blob/master/NOTICE#L98-L109
normalize.css 어디에 썼나요?

[2017-01-25 20:49] juice500ml commented on #2
https://github.com/dduk-ddak/coding-night-live/blob/master/NOTICE#L110-L119
http://fontawesome.io/license/
저희는 Font와 Code를 동시에 사용했으니, Font License, Code License 따로 작성하는건 어떨까요?

[2017-01-25 20:56] fuzzythecat commented on #2
한 파일 내에서 나눠서 정리하는 것 보다 라이선스 파일을 두개로 나누는게 나을까요!

[2017-01-25 21:03] fuzzythecat commented on #2
^ 는 절대아니죠 알겠습니다

[2017-01-26 13:09] punkyoon commented on #10
저도 1번 방식이 맞는 것 같습니다!

[2017-01-27 06:05] juice500ml opened #11 "list.html delete button doesn't show modal"
제곧내

[2017-01-27 06:06] juice500ml commented on #10
1번으로 가죠!

[2017-01-27 06:06] #10 closed, assigned to juice500ml, punkyoon, fuzzythecat

[2017-01-27 06:24] juice500ml opened #12 "markdown spellcheck doesn't understand 한글... 시무룩..."
제곧내

[2017-01-27 06:36] juice500ml opened #13 "rename room name button doesn't exist"
제곧내

[2017-01-27 19:47] punkyoon commented on #7
aws, azure등에서 사용 시, sudo python3 manage.py runserver 0.0.0.0:80

[2017-01-28 18:02] punkyoon opened #14 "TextField vs. JSONField(custom)"
TextField에 JSON데이터를 넣을지 아니면 JSONField를 직접 제작하여 데이터를 넣을지 고민입니다.

* JSONField를 사용할 때의 편의성 등이 얼마나 증가하는지 더 알아본 후에 적용해볼 생각입니다.

[2017-01-28 18:03] punkyoon commented on #14
[StackOverFlow의 JSONField 코드](http://stackoverflow.com/questions/9686409/how-to-store-a-dictionary-in-a-django-database-models-field)
[Django 공식 repo의 Field 정의](https://github.com/django/django/blob/e07e743e0c375b380748561d18b975c8211a4a01/django/forms/fields.py)

[2017-01-30 10:41] juice500ml opened #15 "websocket err"
reconnecting-websocket.min.js:1 Uncaught DOMException: Failed to execute 'send' on 'WebSocket': Still in CONNECTING state

http://stackoverflow.com/questions/29157807/uncaught-invalidstateerror-failed-to-execute-send-on-websocket

[2017-01-30 12:04] fuzzythecat commented on #2
fe1b914

deleted normalize.css/separate licenses for code&fonts for fontawesome/NOTICE is up-to-date with the third party libraries in readme

[2017-01-30 12:30] punkyoon commented on #15
해결했습니다! 함수를 잘못 넣은게 문제였어요.

[2017-01-30 12:30] #15 closed, assigned to nobody

[2017-01-30 12:34] punkyoon commented on #2
@fuzzythecat socket.io지워주시고, [reconnecting-websocket](https://github.com/joewalnes/reconnecting-websocket)으로 바꿔주세요~

[2017-01-30 18:02] punkyoon commented on #7
wiki에서 [2. Installation and Settings](https://github.com/dduk-ddak/coding-night-live/wiki/2.-Installation-and-Settings)에 추가하였습니다.

[2017-01-30 18:02] #7 closed, assigned to fuzzythecat

[2017-01-31 04:59] punkyoon opened #16 "말을 편하게 합시다...."
제곧내..

[2017-01-31 05:22] fuzzythecat commented on #16
네...

[2017-01-31 18:00] juice500ml commented on #2
@fuzzythecat [tether](http://tether.io) 사용합니다
https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css
a5dc38674669eaeb97ac8fdf3b7aec8919c570b4

[2017-01-31 18:10] juice500ml opened #17 "let's use tooltips!"
http://davidzchen.com/tech/2016/01/19/bootstrap-copy-to-clipboard.html
https://v4-alpha.getbootstrap.com/components/popovers/
http://v4-alpha.getbootstrap.com/components/tooltips/

[2017-01-31 19:27] juice500ml opened #18 "default value for titles?"
proposal:
room: **unnamed room**
slide: **unnamed slide**

[2017-01-31 19:29] juice500ml commented on #5
b22572eefbb761f28282dec0c8139693b04c43aa
html part commenting nearly done.

[2017-01-31 19:38] #8 closed, assigned to fuzzythecat

[2017-01-31 19:40] juice500ml commented on #13
25e26d62b9e1bfb3700203cdb177656bcb6a6c9f  now it works.

[2017-01-31 19:40] #13 closed, assigned to juice500ml

[2017-01-31 19:53] juice500ml commented on #12
near-impossible. closed for now.
https://github.com/NextStepWebs/codemirror-spell-checker/
https://github.com/NextStepWebs/codemirror-spell-checker/blob/master/src/data/en_US.dic

[2017-01-31 19:53] #12 closed, assigned to fuzzythecat

[2017-01-31 19:56] juice500ml opened #19 "redirection after login"
when logged on user goes to http://\~.com/, it does not redirect to http://\~.com/services/
by the way, why are *rooms* named as *services*?

[2017-02-01 05:57] punkyoon commented on #19
해결했습니다.

[0ea7d24](https://github.com/dduk-ddak/coding-night-live/commit/0ea7d24c3b171658a1627f21947eb254ee19b4f4) 참고해주세요!

[2017-02-01 05:57] #19 closed, assigned to punkyoon

[2017-02-01 06:01] punkyoon commented on #18
room : **unnamed**
slide : **(empty)**

[2017-02-01 06:21] juice500ml commented on #18
room : **current uri**
slide : **Unnamed slide**

[2017-02-01 06:21] #18 closed, assigned to juice500ml, punkyoon

[2017-02-01 06:55] juice500ml commented on #2
@fuzzythecat https://code.google.com/p/google-diff-match-patch/

[2017-02-01 19:50] punkyoon opened #20 "Markdown Editor"
markdown editor에서 가장 첫번째로 나오는 h1을 markdown preview에서 생략(?)합니다.

모든 내용이 preview에서 보이도록 고쳐주세요!

[2017-02-03 19:18] punkyoon opened #21 "Slide list"
슬라이드를 새로 생성한 후, 해당 슬라이드를 클릭하면 아무런 동작을 수행하지 않습니다.
슬라이드 내용을 확인할 수 있게 고쳐주세요!

[2017-02-04 03:30] #20 closed, assigned to juice500ml, fuzzythecat

[2017-02-04 08:02] juice500ml commented on #21
https://github.com/dduk-ddak/coding-night-live/blob/master/templates/room.html#L551
NotImplementedBug

[2017-02-04 14:01] #21 closed, assigned to juice500ml

[2017-02-04 17:34] juice500ml opened #22 "**please** modularize autocompletion"
https://github.com/dduk-ddak/coding-night-live/blob/master/templates/room.html#L438-L795
Help me and this world...

[2017-02-04 19:34] juice500ml commented on #22
currently became a bottleneck for implementing /static/js/cnl_chats.js and /static/js/cnl_chats_override.js
**not implementing chatting system until this is solved.**

[2017-02-05 09:35] punkyoon opened #23 "슬라이드 추가 문제"
슬라이드를 13개 이상 추가하면 리스트에서 + 버튼이 사라집니다. (= 슬라이드를 더 추가할 수 없게됨)

[2017-02-05 11:22] #23 closed, assigned to juice500ml

[2017-02-05 11:59] juice500ml commented on #2
@fuzzythecat django-redis
https://github.com/dduk-ddak/coding-night-live/commit/c5488779062da7a406ce626baf009ec0dc204b99

[2017-02-05 15:09] juice500ml opened #25 "all live-coding and no play makes sqlite a dull boy"
https://github.com/dduk-ddak/coding-night-live/blob/master/manage_room/consumers.py#L266-L270
Too many db transactions
temporary measures: 41d3579493c4bb433f076eec667493399ad8e059

[2017-02-05 15:20] juice500ml opened #26 "next_id why not unique?"
https://github.com/dduk-ddak/coding-night-live/blob/master/manage_room/models.py#L62-L63
maybe carefully schedulling **.save()** timing will solve this?

[2017-02-05 16:01] punkyoon commented on #26
`.save()`를 하지 않고 unique 필드로 지정된 값을 교환하는 과정에서 에러 발생. next_id를 unique 필드로 지정할 수 없음!

[2017-02-05 16:01] #26 closed, assigned to nobody

[2017-02-05 17:43] juice500ml commented on #25
b4bcba14e12ff126f039a19732278c0b9731d6e5 is this enough?

[2017-02-05 20:24] juice500ml opened #27 "websocket's onclose가 아예 불가능한거 아닐까요"
front단에서는 브라우저를 종료하면 그대로 subprocess가 종료되는 셈이라 js 콜스택이 모조리 날아가는(?) 뭐 그럴 것 같은데...
back에서는 연결이 끊기니 자동으로 알게 되는건 당연한 것 같습니다.
back에서 user_count를 하는 방법을 고민하는게 맞지 않을까요?

[2017-02-05 21:17] juice500ml opened #28 "migration 실패"
manage_room.0010_auto_20170206_0055.py  migrate 중에 오류가 납니다.
30b759b88244845c924994022c865479fc89bc37 커밋을 revert하면 되지 않을까 싶습니다.
업보: #26

[2017-02-06 10:58] fuzzythecat commented on #2
done

https://github.com/dduk-ddak/coding-night-live/commit/c01591eef0f2111ae1bac936317e5d875c06caef

[2017-02-06 12:52] juice500ml opened #29 "Why is"

[2017-02-06 12:53] juice500ml opened #30 "Why hash is only [0-9] ?"
It's not. It's **[a-z0-9]**

[2017-02-06 12:55] juice500ml commented on #29
typo...

[2017-02-06 12:55] #29 closed, assigned to nobody

[2017-02-06 12:55] juice500ml commented on #5
refactoring 과정에서 다시 논의하기로 합시다. closed for now.

[2017-02-06 12:55] #5 closed, assigned to fuzzythecat

[2017-02-06 17:56] punkyoon commented on #27
네 websocket connect / disconnect 기준으로 계산하는게 맞는거 같습니다!

[2017-02-06 18:07] punkyoon commented on #28
1. migrate에서 정확히 어떤 에러가 나는지 알려주세요!
2. azure에서 새로만든 vm에서 실행해보니 migration 문제는 없었습니다..!

[2017-02-06 18:51] punkyoon commented on #25
충분한거 같아요!

1. db에서 트랜잭션을 통해 안전하게 요청 및 데이터를 처리함. 트랜잭션을 해두는 구간이 크긴 하지만, 이는 조금 더 살펴보고 줄여나가면 된다고 생각함.

2. b4bcba14e12ff126f039a19732278c0b9731d6e5 를 통해서 db에 한꺼번에 엄청난 요청이 들어가지 않게되어 보다 효율적으로 동작

[2017-02-07 14:46] juice500ml commented on #28
기존 DB에 unique가 보장되지 않았던 것 같습니다. DB 날리니 해결.

[2017-02-07 14:46] #28 closed, assigned to juice500ml, punkyoon

[2017-02-07 14:54] punkyoon opened #31 "navbar rounding 해제"
.navbar에 border-radius를 삭제하여 rounding 효과를 없애줍시다!

[2017-02-07 15:55] juice500ml commented on #27
fixed at 8dfa43e

[2017-02-07 15:55] #27 closed, assigned to juice500ml, punkyoon

[2017-02-07 17:37] juice500ml commented on #31
fixed. 1ae809f

[2017-02-07 17:37] #31 closed, assigned to juice500ml

[2017-02-07 20:37] juice500ml opened #32 "drawer bugs"
- not scrollable
- slide addition doesn't affect to "listeners" (it affects "lecturers")

[2017-02-08 07:14] juice500ml commented on #2
ea5998aab904603f40bb36ba98df80974c238f0b not using drawer anymore.

[2017-02-08 08:12] #11 closed, assigned to juice500ml

[2017-02-08 08:15] juice500ml commented on #32
ea5998aab904603f40bb36ba98df80974c238f0b not using drawer anymore.

[2017-02-08 08:25] #32 closed, assigned to juice500ml

[2017-02-08 09:03] #17 closed, assigned to juice500ml

[2017-02-08 10:49] juice500ml commented on #2
최종 프로젝트 전까지 react를 안쓰게 될 것 같습니다. react 삭제해주세요.

[2017-02-08 10:54] juice500ml commented on #25
62a19c9a627ad4633d64918679a6314ae247d835 transaction size를 줄였습니다.

[2017-02-08 10:57] juice500ml opened #33 "user_count is very buggy, but no real bug cases are found"
title = description

[2017-02-08 12:01] #30 closed, assigned to fuzzythecat

[2017-02-08 16:22] juice500ml commented on #2
drawer와 마찬가지로 iscroll도 사용하지 않습니다. 삭제해주세요.

[2017-02-08 16:40] juice500ml opened #34 "autocompletion reply is really buggy"
![default](https://cloud.githubusercontent.com/assets/7028312/22746744/3c1ed5d6-ee68-11e6-8db1-fa4cacf01387.PNG)
* why is that accordion acting strangely? why it is so long?
* why does autocompletion recommend me invalid commands?
* in that particular scenario, if you press 'up' button, command in input box disappears - you have to press 'up' button twice for autocompletion.

[2017-02-08 17:10] fuzzythecat commented on #34
see
https://github.com/dduk-ddak/coding-night-live/commit/25f0cde16263bc2953efbc970d0fdf4123765821

[2017-02-08 17:10] #34 closed, assigned to fuzzythecat

[2017-02-08 18:17] punkyoon opened #35 "이미지 잘림"
이미지가 크면 화면 밖으로 튀어나와 보입니다..

[2017-02-08 21:12] punkyoon commented on #2
[google chart](https://github.com/GoogleWebComponents/google-chart) 사용합니다!

[2017-02-09 16:14] juice500ml commented on #33
와이파이 환경과 같이 연결이 불안정한 환경에서 자주 발생하는 것 같습니다. 여전히 원인은 모릅니다.

[2017-02-09 16:16] juice500ml opened #36 "atomic.transaction for db manipulation"
**please review 6b7fe777ebecf98e881b904d78a3b914a5949e47**
if this commit is valid, we'll have to change manage_chat too...

[2017-02-09 16:17] juice500ml commented on #25
issue #36 과도 관련이 있습니다.

[2017-02-09 16:51] #35 closed, assigned to juice500ml

[2017-02-09 17:13] juice500ml opened #37 "poll에서 answer과 answer_count는 중복정보 아닌가요?"
제곧내

[2017-02-09 17:16] juice500ml commented on #37
덧붙여서, hash field도 추가하는건 어떤가요?

[2017-02-09 17:36] fuzzythecat commented on #22
https://github.com/dduk-ddak/coding-night-live/commit/b73e3f068183055e2f832d9a3a6bcacd04ccd837

https://github.com/dduk-ddak/coding-night-live/commit/fab056bccc8ac0f3007267324aaebdef2a3a267a

https://github.com/dduk-ddak/coding-night-live/commit/912117529de78e8750426910f5624150cfe6ae69

[2017-02-09 17:36] #22 closed, assigned to fuzzythecat

[2017-02-10 04:04] punkyoon commented on #33
제가 확인한건 redis문제입니다.

1. IE, edge, chrome으로 한 방에 3개의 connection 생성 -> 접속자수 3명인 것 계산함

2. IE를 disconnect하면서 총 2개의 connection이 존재해야하나, redis에서 ZRANGE로 확인했을 때 세션이 끊어지지 않고 계속 db에 남아있는 것을 확인할 수 있었음. (서버 로그에 disconnect는 남아있는 상태)

3. 모든 연결을 끊고, 다시 redis에서 ZRANGE로 확인했을 때 IE에서 끊어진 세션이 남아있는 것을 확인할 수 있었음..

[2017-02-10 04:10] punkyoon commented on #37
1. answer
 - ['Yes', 'No']로서, 배열 자료형을 가짐
 - startPoll에서 사용자에게 질문과 답변을 날려줄때 사용

2. answer_count
 - {'Yes': 0, 'No': 3}으로서, dictionary~JSON 자료형/구조를 가짐
 - result_poll에서 차트를 만들어줄때 사용
 - new_poll에서는 답변 응답수를 0으로 초기화 할 때,  end_poll에서는 사용자로부터 받은 응답을 토대로 답변 응답수를 1씩 증가시킬 때 사용

3. hash_field사용하는거는 좋은 것 같습니다.

[2017-02-10 04:34] punkyoon commented on #36
트랜잭션은 `1. 다량의 접근이 일어나서` `2.db내용을 변경할 때`에 걸어두는 것이 좋기 때문에 내용을 변경할 필요가 없는 chat 등에 트랜잭션을 걸어둘 필요는 없는 것 같습니다.

[2017-02-10 04:37] punkyoon opened #38 "채팅 시간 표시 문제"
1. 오후 12시 55분에 채팅을 입력하였으나, 채팅 창에는 날짜, 분, 초를 제외한 '시간'이 잘못 표기 되어짐

2. db에 저장되는 시간은 `정확한 시간`임

3. front에서 잘못 표기되는 것인지 다시 확인해볼 필요가 있음

[2017-02-10 08:09] juice500ml commented on #37
- answer_count를 list로 바꾸겠습니다. 즉, {'aaa':3, 'bbb':2, 'ccc':4}면,
  - answer: ['aaa', 'bbb', 'ccc']
  - answer_count: [3, 2, 4]
- hash field를 추가하겠습니다.

[2017-02-10 08:11] juice500ml commented on #38
2021425c62e251c44236d64a934511cfb2399660 이 커밋 이후에 생긴 문제인가요?

[2017-02-10 09:25] juice500ml commented on #33
ie 버전 몇인가요?

[2017-02-10 09:27] juice500ml commented on #38
5970f6ec510f39525a70fe1e778e086018a8905d 해결했습니다.

[2017-02-10 09:27] #38 closed, assigned to punkyoon

[2017-02-10 09:59] juice500ml commented on #33
연결 도중 서버가 꺼졌다가 켜지면, 해당 count가 그대로 유지된 상태에서 1 추가됩니다.

[2017-02-10 10:13] punkyoon commented on #33
ie 버전은 가장 최신버전입니다! (11버전)

[2017-02-10 10:23] punkyoon commented on #33
![error](https://cloud.githubusercontent.com/assets/11442383/22823308/5ce383ca-efc6-11e6-81fb-c5d9641ca928.PNG)
disconnect시, 이러한 에러 메시지가 발생하네요..

[2017-02-10 10:27] punkyoon opened #39 "navbar rounding 해제2"
list.html의 navbar에도 rounding을 해제해야합니다!

![kakaotalk_20170210_191812309](https://cloud.githubusercontent.com/assets/11442383/22823429/efd912da-efc6-11e6-905e-9a98fb504d01.png)

[2017-02-10 11:31] punkyoon opened #40 "markdown table format"
![ddd](https://cloud.githubusercontent.com/assets/11442383/22825259/7f0aec6e-efcf-11e6-9c1b-293fbe9a0d04.PNG)

표가 이상한 형식으로 보여집니다. 표는 다음과 같은 형식으로 보여져야합니다.

![ddddd](https://cloud.githubusercontent.com/assets/11442383/22825320/ce4c6050-efcf-11e6-9478-8ac630ce56f4.PNG)

[github markdown guide](https://help.github.com/articles/organizing-information-with-tables/)

[2017-02-10 11:41] juice500ml commented on #40
@fuzzythecat

2017. 2. 10. 오후 8:31에 "punkyoon" <notifications@github.com>님이 작성:

[2017-02-10 14:48] #37 closed, assigned to punkyoon

[2017-02-10 14:49] #36 closed, assigned to juice500ml, punkyoon

[2017-02-10 15:51] #39 closed, assigned to juice500ml

[2017-02-10 17:44] juice500ml opened #41 "chat and poll doesn't scroll down automatically even if user's scroll is at the end"
title=description

[2017-02-10 17:46] juice500ml commented on #41
**CAUTION**: var is_end_of_scroll has to be calculated *before* appending.

[2017-02-10 17:46] #41 closed, assigned to juice500ml

[2017-02-10 19:37] fuzzythecat commented on #40
<img width="1069" alt="2017-02-11 4 36 06" src="https://cloud.githubusercontent.com/assets/12467657/22841124/aaae9d9a-f013-11e6-84f7-c35a5786a5e6.png">

[2017-02-10 19:37] #40 closed, assigned to fuzzythecat

[2017-02-10 19:56] fuzzythecat commented on #2
using github-markdown-css
https://github.com/dduk-ddak/coding-night-live/commit/b8c3c8015a7ba7c3319f352e033fdcc7328bbd7c

[2017-02-11 07:20] #25 closed, assigned to juice500ml, punkyoon

[2017-02-11 10:34] punkyoon opened #42 "슬라이드 삭제 문제"
1. 모든 슬라이드를 삭제하고나서 다시 `새 슬라이드`를 만든 후, 이를 다시 삭제하면 또 다른 `새 슬라이드`가 생성되는 버그 존재.

2. 슬라이드 삭제시 왼쪽 `contents` 메뉴에서 슬라이드가 사라지지 않음. 새로고침을 한 뒤에야 사라진 것을 확인할 수 있음.

1번 문제를 해결하려면 우선 단 하나 남은 슬라이드를 삭제할 수 없게 만들어야할 것 같습니다. 즉, 적어도 하나의 슬라이드만 있도록 보장해주는 거죠..

[2017-02-11 10:47] punkyoon commented on #42
단 하나 남은 슬라이드를 삭제할 수 없게 만들었으나, 이경우 newSlide가 실행되어버립니다. 프론트~웹소켓쪽에서 처리해줘야 할 것 같습니다.

[2017-02-11 11:55] punkyoon commented on #42
이제 2번 문제만 해결하면 됩니다. 프론트만 고쳐주면 되겠네요!

[2017-02-11 17:18] punkyoon commented on #42
![image](https://cloud.githubusercontent.com/assets/11442383/22855822/72072316-f0c9-11e6-8d00-4820146d3242.png)

슬라이드를 삭제함과 동시에 contents에서도 슬라이드 목록이 사라지지만, 콘솔창에 에러가 남습니다.

@juice500ml

[2017-02-11 18:00] juice500ml opened #43 "슬라이드 변경 문제"
슬라이드를 수정하고 난 뒤에 timeout 이전에 다른 슬라이드를 클릭하면 해당 슬라이드의 수정내용이 반영되지 않습니다.

[2017-02-11 18:11] juice500ml commented on #42
마지막 슬라이드면 삭제가 아니라 안의 내용을 초기값으로 세팅해주는 방식으로 했습니다.

[2017-02-11 18:14] #42 closed, assigned to juice500ml, punkyoon

[2017-02-11 18:15] #43 closed, assigned to juice500ml

[2017-02-11 18:32] juice500ml commented on #16
2017-02-12
[정 연준] [오전 12:47] ㅋㅋㅋㅋㅋ
[정 연준] [오전 12:47] 언제쯤 말을 편하게하게될까여..

**didn't fix**

[2017-02-11 22:29] juice500ml commented on #2
765442c56f0bf7a25bd244eccc8222c903e63588 using https://clipboardjs.com/

[2017-02-11 22:30] juice500ml opened #44 "Share 버튼을 클릭했을 때 링크가 복사되었는지 제대로 보이지가 않습니다."
제곧내

[2017-02-12 05:19] punkyoon commented on #2
c18e6946b1f04abfa7169df4f550a08aecec1912

clipboard js 추가했습니다.

wiki에도 추가해놨어요~

[2017-02-12 07:42] minhoryang opened #45 "PDF인쇄를 하고 돌아오면, 제가 친 채팅이 보이지 않아요!"
# Happened:
- PDF 인쇄 버튼을 누르고
- PDF 인쇄를 진행한 후
- 뒤로가기
- 채팅에 메세지를 남김
- 내가 쓴 채팅이 보이지 않음.

# Unexpected:
- 그런데 남이 쓴 채팅은 보임?!

# Expected Scenario:
- PDF 인쇄 버튼을 누르고
- PDF 인쇄를 진행한 후
- 뒤로가기
- 채팅에 메세지를 남김
- 내가 쓴 채팅과 남이 쓴 채팅이 보임.

## 뒤로 갔다가 오더라도 채팅이 원활히 진행되었으면 좋겠음.

[2017-02-12 07:43] juice500ml opened #46 "operational transform을 적용하면 multi-edit이 안정화될 듯 합니다."
https://github.com/Operational-Transformation/ot.js
https://github.com/share/sharedb
https://github.com/ottypes/docs

현재 websocket에 부하가 너무 큽니다 (현재 원하는 슬라이드에 대한 정보만 받는게 아니라 모든 정보를 다 받거든요

[2017-02-12 07:48] juice500ml commented on #45
temporary measures : 2b63c847a99d8743757c07ad1f72e5217994aeef
#33 과 관련이 있을 듯 합니다.

[2017-02-12 07:50] juice500ml commented on #44
alert() 말고 다른걸 써봅시다.

[2017-02-12 08:04] minhoryang opened #47 "2017년인데 jQuery라니요. Angular2로 이주시키겠습니다."
[2016년에 자바스크립트를 배우는 기분](http://www.looah.com/article/view/2054)

`Oh my god no, no one uses jQuery anymore`

[2017-02-12 08:08] minhoryang opened #48 "docker로 갑시다!"
[12factor](https://12factor.net/ko/)를 지키고, 새로운 유저들에게 빠른 설치를 제공하기 위해서, docker이미지를 제공하고 싶습니다.

[2017-02-12 08:10] juice500ml commented on #44
fixed with 3295f18

[2017-02-12 08:10] #44 closed, assigned to juice500ml

[2017-02-12 08:14] juice500ml commented on #2
raven도 추가했습니다. (by @punkyoon )
82330b0d37f54d0a107c894ef29820c1807cd63d
0b375e70d2872f446dbb87193c7940a35623a351
80de167d25c09d60c66ce9385a43a90b945e720d

[2017-02-12 08:48] minhoryang opened #49 "OAuth세팅이 안되어 있을 때, 에러가 불친절합니다."
related with #48

[code]

코딩하지 않은 영역에서의 에러이고, Google API Console에서 해야하니까 따로 에러페이지를 만들어주시면 좋을 것 같습니다!

[2017-02-12 09:06] minhoryang opened #50 "SITE_ID가 settings.py에 1로 고정되어있어서,"
[wiki에서 Installation 가이드라인을 따라하는데요](https://github.com/dduk-ddak/coding-night-live/wiki/2.-Installation-and-Settings#7-application-setting)

제대로 했는데도, 아래의 에러가 뜹니다.
[code]

[django의 settings.py에 SITE_ID가 1로 고정되어 있네요.](https://github.com/dduk-ddak/coding-night-live/blob/master/coding_night_live/settings.py#L67)

제가 example.com을 수정하지 않고 새 site를 추가해서 OAuth2를 진행했는데요.

아마 이대로라면 example.com을 수정해서 deploy해

[2017-02-12 09:15] punkyoon opened #51 "data.leave.remove() no such function"
https://github.com/dduk-ddak/coding-night-live/blob/master/static/js/cnl_websocket.js#L57

[2017-02-12 09:19] minhoryang opened #52 "OAuth로 Google에 로그인할 때, https로는 로그인진행이 안됩니다."
[code]
저는 Google API Console에서 https로 OAuth를 설정했거든요.

임시해결책: Google API Console에서 http URL을 추가하면, 몇 분 뒤 OAuth 로그인이 잘 진행됩니다.

[2017-02-12 09:19] minhoryang opened #53 "createsuperuser에 넣은 email로는 OAuth로그인이 진행이 되지 않습니다."
/accounts/social/signup/ 페이지로 이동해 새 아이디를 만들라고 하네요...

[2017-02-12 12:10] juice500ml commented on #14
sqlite에는 JSON Field를 직접 만들어줘야하나, PostgreSQL사용 시 JSON Field를 사용할 수 있습니다.

[2017-02-12 12:10] punkyoon commented on #50
wiki 수정은 완료했습니다. 동적으로 SITE_ID를 고칠 수 있는 방법을 찾아보는 중입니다.

[2017-02-12 12:37] punkyoon commented on #45
브라우저 '뒤로가기'를 하면 session관리가 이상해집니다.

[2017-02-12 12:47] minhoryang opened #54 "Django Channels이 설치하는 Daphne가 설치하는 Twisted가 17.0.0로 업데이트가 되면서, 앱이 동작을 안합니다!"
Django Channels이 설치하는 Daphne가 설치하는 Twisted가 17.0.0로 업데이트가 되면서, 앱이 동작을 안합니다!
[code]

requirements.txt에 `twisted==16.0` 의존성을 지정해주어야 합니다.

[2017-02-12 12:48] minhoryang commented on #54
highly related with
django/channels#527
django/daphne#82

[2017-02-12 13:21] minhoryang commented on #48
[code]

[2017-02-12 13:29] minhoryang commented on #54
requirements에 Twisted가 추가되었으니, License에 Twisted를 추가해주실래요?

[2017-02-12 13:33] minhoryang commented on #48
`docker-compose logs` 명령을 통해 createsuperuser로 생성된 root password를 확인할 수 있습니다.
[code]
에서
[code]
부분을 참고하셔요.

[2017-02-12 13:37] #48 closed, assigned to juice500ml, punkyoon

[2017-02-12 13:48] #54 closed, assigned to nobody

[2017-02-12 13:48] minhoryang commented on #48
https://docs.docker.com/engine/installation/linux/ubuntu/
https://docs.docker.com/compose/install/

[2017-02-12 14:13] juice500ml commented on #53
docker dduk-ddak! 9c3831c80b8317db698373c04ce35cd41b505d3c
thx to @minhoryang (fyi, you)

[2017-02-12 14:14] juice500ml commented on #53
issue not resolved in local yet!

[2017-02-12 14:15] juice500ml commented on #46
read some papers, @fuzzythecat

[2017-02-12 14:16] minhoryang commented on #47
오늘 사실 하려고 한게 이건데,....
[개발환경구성](https://github.com/dduk-ddak/coding-night-live/issues/48)하다가 결국 테러를 못했네요.
다음 주 주말에 할게요!

[2017-02-12 14:47] juice500ml opened #57 "chat에서 이전 명령어 history를 관리했으면 좋겠습니다."
방향키로 이전 history를 다시 칠 필요 없이 바로 할 수 있으면 좋겠어요!

[2017-02-12 14:48] minhoryang opened #58 "Contents의 Slide를 PPT나 PDF로 그냥 추가할 수 있으면 좋겠어요."
각 페이지로 추가될 수 있으면 좋겠어요. Just Hope

[2017-02-12 14:50] juice500ml opened #59 "id를 통해 그 사람이 만든 슬라이드들을 한꺼번에 볼 수 있으면 좋겠어요!"
제곧내

[2017-02-12 14:50] minhoryang commented on #59
좀 더 플랫폼화 되서 URL에 제 ID가 포함되면 좋겠어요!

[2017-02-12 14:51] minhoryang opened #60 "순순히 /admin 페이지를 보여주다니, 후후"

[2017-02-12 14:54] minhoryang opened #61 "지운 Room에 접근하려하니 DoesNotExist가 뜨고, 이미 띄워놓은 Room은 닫히지 않네요."

[2017-02-12 15:02] minhoryang opened #62 "댓글의 ID를 클릭하면, 바로 @reply #111111 이 채워지게 해주세요!"

[2017-02-12 15:47] punkyoon commented on #54
ac67551a92dbb33174b44397c10cbc7107eb0aa9

48974b4e5cb4046bad88ef00491582faef48fe9b

bc264e87f5fccbc6161b938177f212b6755adecd

[2017-02-14 13:13] juice500ml opened #63 "docker is **too slow** for active development"
제곧내

[2017-02-14 13:21] #61 closed, assigned to punkyoon

[2017-02-14 13:22] juice500ml commented on #51
@punkyoon blame on c045927ba629edc774a5cf5602d8612d16bee956 :(

[2017-02-14 13:23] #51 closed, assigned to juice500ml

[2017-02-14 14:08] #45 closed, assigned to juice500ml

[2017-02-14 14:12] juice500ml opened #64 "let's be friends with travis ci!"
Write *all* the testcases here - frontend and backend alike!

[2017-02-14 16:10] punkyoon commented on #64
7b049b6c80d7fb34328dcfe62c1f5572c59327bf

travis에서 기본적인 사항에 대해서 `build passing` 뱉어내도록 만들었습니다.

[2017-02-14 17:19] punkyoon commented on #53
local에서는 `python manage.py createsuperuserauto`를 이용해주면 됩니다..!

[2017-02-14 18:24] punkyoon opened #65 "DEBUG=False"
실제 서비스 배포시에는 `settings.py`의 옵션을 `DEBUG=False`로 해두어야한다고 합니다.

하지만, 위의 옵션으로 설정하면 기존에 사용되던 정적파일을 서버에서 제대로 사용하지 못하게 됩니다.

django에서도 기본 서버실행 명령인 `runserver`를 지양하라 했고, `nginx`등 다른 서버를 사용할 때를 대비해서라도 필요한 옵션인만큼 이에 대한 대비를 해야합니다.

1. `STATIC_ROOT` 설정
2. `collectstatic`명령으로 기존 정적파일 collect
3. 이 외의 사항은 [django 공식문서](https://docs.djangoproject.com/en/1.10/howto/static-files/#serving-static-files-during-developm

[2017-02-14 18:27] punkyoon opened #66 "branch를 나눕시다!"
master는 당연히 정식 release되는 부분에만 사용되는 것이고,

frontend나 backend 개발에 대한 브랜치를 나누는 등의 작업이 필요할 것 같습니다.

이 부분이 정리되면 이후 다른 contributor의 개발에도 최대한 충돌을 줄일 수 있다고 생각합니다.

[2017-02-14 18:37] punkyoon commented on #60
우선 #65 부터 해결하고 바로 작업 진행하겠습니다..!

`DEBUG=True`이기 때문에 오류발생 시 사용자에게 코드가 노출되거든요...! (물론 오픈소스지만..)

[2017-02-14 18:39] punkyoon commented on #58
1. PPT to Markdown 이나 PDF to Markdown 으로 처리

2. 아예 PPT나 PDF를 통째로 업로드 (편집이 가능하다면 좋겠지만 우선은 보여주는 것만이라도 구현)

@minhoryang @juice500ml @fuzzythecat 1번이 좋을까요 2번이 좋을까요?

[2017-02-14 19:39] minhoryang commented on #63
그렇군요 ㅠㅠ
이미지를 빌드하는게 느려서 그렇지요?

[2017-02-15 06:25] juice500ml opened #67 "발표자 화면에는 timer가 필요해요!"
재생, 일시정지, 초기화 기능이 있으면 더 좋을 것 같아요

[2017-02-15 06:50] juice500ml opened #68 "add readme & wiki for sentry!"
https://github.com/dduk-ddak/coding-night-live/blob/72e28592576bf4c26b85047c52cc4b177a61c213/coding_night_live/settings.py#L145
maybe add another step in installation (not mandatory, but recommended)

[2017-02-15 06:52] juice500ml opened #69 "wiki --> docs?"
- wiki에는 안바뀌는 내용 (Project 소개나 syntax 정도?)
- docs에는 바뀔 가능성 있는 내용

으로 하려는데, 어떤가요?

[2017-02-15 07:15] juice500ml opened #70 "autocomplete 방향키 말고 tab으로도 되게 해주세요."
description=title

[2017-02-15 07:18] juice500ml opened #71 "naming convention"
get/set --> remote/local
camel / underscore / hypen

[2017-02-15 10:13] fuzzythecat commented on #69
네좋아여!

[2017-02-15 11:20] juice500ml commented on #58
2.으로 현재 존재하는 이미지 업로드 기능으로 하면 어떤가요?

[2017-02-15 11:54] punkyoon opened #72 "google charts API에 django-redis라니요!"
35fce88fdf614c92309d63981dd903d03f18445c

@fuzzythecat

[2017-02-15 15:46] punkyoon commented on #69
좋습니다!

[2017-02-15 15:47] punkyoon commented on #72
1bc8499d087921d434a8399b09061dcabfce5d21

@fuzzythecat 고쳤습니다! 깔깔!

[2017-02-15 15:48] #72 closed, assigned to fuzzythecat

[2017-02-15 16:04] punkyoon commented on #68
sentry에 대해서
1. `README.md`와 `wiki`의 `contributing guide`에는 `bug report`부분에 명시해 두었고,
2. `wiki`의 installation guide에서 error logging을 원치 않을 경우 `RAVEN_CONFIG`설정을 지우라고 명시해 두었습니다.

단, 2번 부분은 영어로 번역이 필요합니다. @fuzzythecat

[2017-02-15 16:06] punkyoon commented on #58
현실적으로 2번이 제일 구현 가능한 부분이고, ppt는 깨질 수도 있는 점을 고려해서 pdf로 변환 후 업로드 하는 쪽으로 개발하는게 좋을 것 같습니다.

[2017-02-15 16:23] punkyoon commented on #68
@juice500ml 의 도움으로 2번 부분까지 모두 해결 완료하였습니다.

[2017-02-15 16:23] #68 closed, assigned to punkyoon

[2017-02-15 16:40] punkyoon commented on #65
[nginx with daphne](http://masnun.rocks/2016/11/02/deploying-django-channels-using-daphne/)

[nginx with django](http://brownbears.tistory.com/16)

[2017-02-15 19:23] punkyoon commented on #65
nginx 8000번 포트를 연 경우, daphne로 8001포트를 열고.. localhost:8001로 접속이 가능하다.

[2017-02-15 19:36] punkyoon commented on #65
`sudo service nginx start`

`python3 manage.py runworker`

`daphne -p 8001 coding_night_live.asgi:channel_layer`

실행해야할 명령이 너무 많다..

[2017-02-15 19:55] punkyoon commented on #65
너무 어려워요..

[nginx + uWSGI + django](http://blog.zective.com/2016/12/17/django-nginx-uwsgi-%EC%97%B0%EB%8F%99/)

물론 uWSGI를 사용하지 않으므로 나머지 다른 것만 참고해봐야겠어요.

[2017-02-16 20:42] juice500ml opened #73 "when new notice is generated, resize chat again"
제곧내

[2017-02-17 00:49] minhoryang commented on #58
저도 2번 식으로 동작하는게 더 좋아보여요.
업로드->(pdf변환)->페이지추출->이미지첨부

[2017-02-17 00:50] minhoryang commented on #73
4 hours ago?!

[2017-02-17 00:50] minhoryang commented on #71
Flake8 please

[2017-02-18 06:43] juice500ml opened #74 "cnl_chats.valid_syntax"
cnl_chats.js의 https://github.com/dduk-ddak/coding-night-live/blob/master/static/js/cnl_chats.js#L3-L6
여기에서 valid_syntax를 cnl_chats_override.js 에서 override되어야하지 않을까요?

[2017-02-18 06:48] #73 closed, assigned to juice500ml

[2017-02-18 15:07] punkyoon commented on #60
nginx 앞단에서 admin에 접속가능한 ip를 별도로 설정해줘야한다고 하네요..

[참고자료](http://tech.marksblogg.com/django-admin-logins.html)

[2017-02-19 16:16] punkyoon commented on #65
# <localhost>

## coding-night-live_nginx.conf
1. server_name localhost
2. proxy_pass http://localhost:8001

## command
1. redis-server
2. python3 manage.py runworker
3. daphne -p 8001 coding_night_live.asgi:channel_layer
4. service nginx start

# <80 deploy>

## coding-night-live_nginx.conf

1. server_name {{ server_domain }}
2. proxy_pass http://0.0.0.0:8001

## coomand

1. redis-server
2. pytho

[2017-02-19 16:17] punkyoon commented on #65
# localhost

## coding-night-live_nginx.conf
1. server_name **localhost**
2. proxy_pass **http://localhost:8001**

## command
1. `redis-server`
2. `python3 manage.py runworker`
3. `daphne -p 8001 coding_night_live.asgi:channel_layer`
4. `service nginx start`

# 80 deploy

## coding-night-live_nginx.conf

1. server_name **{{ server_domain }}**
2. proxy_pass **http://0.0.0.0:8001**

## command

1. `

[2017-02-20 04:51] juice500ml commented on #65
ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ와우 해보겟습니드..

[2017-02-25 11:42] punkyoon commented on #65
issue_65브랜치에 로컬에서 nginx conf파일 완성했고, 다른 여러 환경에서 잘 동작하는거 확인했습니다.

이제 남은건 docker에서 바로 이용할 수 있게 nginx 세팅하는 부분이네요.. docker 브랜치에서 계속 작업 진행하고, 이 부분까지 완료되면 issue_65 브랜치와 병합해서 master 브랜치에 업로드할 예정입니다.

[2017-02-26 12:31] punkyoon commented on #71
09c0697af156e96b6173354cea9bfd673d929547

travis에서 확인할 수 있게 해두었어요.. 차근차근 고쳐볼게요!

[2017-02-26 12:33] #67 closed, assigned to juice500ml

[2017-02-26 15:03] juice500ml commented on #71
https://git-scm.com/book/ko/v1/Git%EB%A7%9E%EC%B6%A4-Git-%ED%9B%85
travis 말고 git hook이 낫지 않을까싶습니다!

[2017-02-26 15:09] juice500ml commented on #71
http://stackoverflow.com/questions/1837681/pre-commit-hook-for-jslint-in-mercurial-and-git 도 쓰죠!

[2017-03-02 15:49] punkyoon commented on #71
flake8에서 잡혔던 문제는 다 해결했고, 변수 이름 / 메소드(or함수) 이름 / 클래스 이름 짓는 법만 맞추면 될 듯 합니다.

[2017-03-03 15:40] juice500ml commented on #65
https://github.com/dduk-ddak/coding-night-live/pull/78 ;)

[2017-03-03 16:10] #65 closed, assigned to punkyoon

[2017-03-03 16:31] punkyoon commented on #66
되도록 이슈 단위로 나누어서 개발하도록 합시다.

예를들어 **#66** 이슈에 대한 브랜치의 이름은 **issue_66**과 같은 형식으로 설정합시다!

[2017-03-03 16:31] #66 closed, assigned to juice500ml, punkyoon, fuzzythecat

[2017-03-03 16:35] punkyoon commented on #60
덧붙여서, /admin이 아닌 다른 경로를 설정해주면 쉽게 admin 페이지가 노출되지 않기 때문에 조금 더 안전해진다고 합니다. 이부분에 대해서는 직접 유저들이 커스텀할 수 있도록 안내해야 할 것 같습니다.

[2017-03-03 16:36] punkyoon commented on #64
django test 코드 작성에 대해서 조금 더 살펴봅시다!

[2017-03-03 16:37] #53 closed, assigned to juice500ml, punkyoon

[2017-03-03 16:45] punkyoon opened #80 "shell 작성"
현재 Docker를 사용한 서비스 배포는 local에서 직접 배포하는 것보다 상당히 빠른 속도로 세팅을 마칠 수 있습니다.

하지만 여전히 local에서 직접 배포하기에는 사용자가 설정해줘야하는 부분이 많습니다.

pip install, secret_key_gen, migrate, createsuperuserauto, ..., redis, ..

이 모든 과정들에 대해서 통합시키고, shell 파일을 별도로 작성하여 사용자의 빠른 서비스 배포를 도우면 더 좋을 것 같습니다.

[2017-03-03 17:32] juice500ml commented on #80
Google login api에서 주는 id와 key도 cli에서 prompt 형태로 넣어주면 자동으로 db에 들어갈 수 있게 해주면 좋을것같아요! docker도 마찬가지.. password를 저장해놓은 파일을 생성하는 안내도 좋아보여요! 현재는 로그만 띄워주는 형태라 불친절한듯해요

[2017-03-03 17:37] punkyoon commented on #80
@juice500ml 로그만 띄워줘서 약간 불편한 점 공감합니다.. 특히 docker 써서 로그들이 주르륵 뜨는 상황에서는 약간 어지러운 느낌이 많아서 찾기가 어렵더라구요..

[2017-03-04 08:53] minhoryang commented on #80
@juice500ml docker에서 prompt를 띄우는게 힘들 수 있어요. 그래서 createsuperuserauto 를 만들었거든요.
@punkyoon docker-compose를 통해서 서버를 켜는것과, 로그를 보는 행위를 구분해서 실행하여 로그를 더 편하게 볼 수 있어요.
[code]

[2017-03-04 08:58] minhoryang commented on #63
개발할 때는 Django의 Debug을 켜지 않나요?

[2017-03-04 09:23] minhoryang opened #81 "[POC] "Google login api에서 주는 id와 key도 cli에서 prompt 형태로 넣어주면 자동으로 db에 들어갈 수 있게 해주면 좋을것같아요""
quoted https://github.com/dduk-ddak/coding-night-live/issues/80#issuecomment-284018139

[code]
[code]

POC

[2017-03-04 09:24] punkyoon commented on #63
@minhoryang 네, 개발 중에는 에러 확인 등의 편의를 위해서 `DEBUG=True`로 설정하고 개발해야합니다!

[2017-03-04 09:26] minhoryang commented on #63
@punkyoon 그럼 nginx도 안써도 되는 상황이지요?
그럼 개발할 때 docker-compose에서 redis만 켜서 쓰면 되겠네요!

[2017-03-04 09:28] minhoryang commented on #81
#50 linked

[2017-03-04 09:29] minhoryang commented on #47
제가 이걸 하러 왔습니다.

[2017-03-04 09:34] minhoryang commented on #81
https://github.com/pennersr/django-allauth/blob/master/allauth/socialaccount/models.py#L46

[2017-03-04 09:38] punkyoon commented on #63
@minhoryang 네 저렇게 설정해주면, redis만 사용해주면 됩니다! 서버도 그냥 `runserver` 명령으로 실행시키면 돼요!

[2017-03-04 09:43] minhoryang commented on #63
# docker is **too fast** for active development

[2017-03-04 09:43] minhoryang commented on #63
@punkyoon close해주세요!

[2017-03-04 10:25] juice500ml commented on #63
wiki에 개발자들을 위한 docker-compose 관련 guide (자주 쓰는 명령어들 위주로 개별 build, scale 이용한 on/off 등) 를 정리하고 close 하겠습니다~

[2017-03-04 19:14] punkyoon opened #83 "DB 교체"
실제 서비스할 때, 많은 수의 유저 접속과 데이터 변경등을 DB가 견뎌 낼지 의문입니다.

이제부터 `sqlite`를 쓰기에는 어려울 것 같고, `MySQL`이나 `PostgreSQL`를 사용해야할 것 같은데 어떤게 좋을까요?

[2017-03-05 04:39] juice500ml commented on #83
저번에 언급된 산발적인 db 충돌상황도 이 문제때문인 것 같음!

<문제상황> (written by @punkyoon)
1. 방 관리자가 슬라이드 1, 2생성 후 1슬라이드에 위치 (1슬라이드 내용: A / 2슬라이드 내용: B)
2. 참여자가 1 슬라이드 클릭
3. 방 관리자가 1 슬라이드와 2 슬라이드의 순서 변경 (1->2 에서 2->1로)
4. 방 관리자가 새 슬라이드 생성 (빈 슬라이드)
(* 4단계에서 방 관리자는 새로 생성한 빈 슬라이드에 위치)
5.  참여자는 새로 생성한 빈 슬라이드에 위치
6. 방 관리자는 1 슬라이드에 위치한 후 빈 슬라이드와 2 슬라이드 위치 변경

총 5단계 거치면서 중간중간에 참여자가 볼 수 있는 슬라이드 리스트에서 슬라이드들이 사라지는 경우 목격됨

[2017-03-05 10:18] punkyoon commented on #83
[SQlite vs. MySQL vs. PostgreSQL](https://www.digitalocean.com/community/tutorials/sqlite-vs-mysql-vs-postgresql-a-comparison-of-relational-database-management-systems)

[2017-03-05 11:47] punkyoon commented on #83
django는 postgreSQL과 잘 어울린다고 하네요!

[2017-03-06 01:48] juice500ml commented on #83
저 글 읽어보니까 확실히 postgresql이 나아보이긴 합니다~

[2017-03-06 01:55] juice500ml commented on #81
docker build에서는 불가능하다고 합니다. http://stackoverflow.com/questions/29432712/is-there-a-way-to-add-a-prompt-during-the-docker-build-process

docker run에서 할 수 있을 듯 합니다(?) https://docs.docker.com/engine/reference/run/#detached-vs-foreground

#80 linked

[2017-03-07 15:19] punkyoon commented on #81
@juice500ml Dockerfile이나 docker-compose 파일 이용하여 스크립트 실행 명령 끼워넣으면 될 거 같은데 아닌가요?

[2017-03-07 15:47] minhoryang commented on #81
엌 이것도 도커 자동화 하려구욧?!

[2017-03-07 15:49] minhoryang commented on #81
@juice500ml docker run으로는 되는데, volumes_from으로 환경설정 폴더를 열어줘야 했던 기억이 있고, 쪼금 끌리지 않습니다.

우선 프롬포트를 만들고, 환경 변수가 있는 경우 자동 기입하는 걸로 가면 좋지 않을까요?
(아마 TERM환경변수의 유무로 docker인지 아닌지 파악할 수 있지 않을까....)

[2017-03-07 15:49] minhoryang commented on #83
+1 psql!

[2017-03-07 15:50] minhoryang commented on #63
ping!

[2017-03-08 04:39] punkyoon commented on #63
@minhoryang pong! 오늘 밤 안으로 문서화 작업 마칠까합니다!

[2017-03-09 22:39] juice500ml commented on #81
흠 저는 뭔가 모든 컨테이너가 동일한 settings 파일을 가질 수 있게 하는걸 생각중이에용 프롬프트로 해당 ㅠㅏ일을 생성할 수 있게..

[2017-03-10 09:06] minhoryang commented on #81
`모든 컨테이너가 동일한 settings 파일을 가질 수 있게`라..
그럼 config server가 필요하지 않을까요?

[2017-03-10 09:07] minhoryang commented on #81
제가 시도하는 것과 비슷한 이슈 같은데욥?

[2017-03-11 21:48] punkyoon commented on #80
#84

[2017-03-12 06:13] punkyoon commented on #71
## Python

 - 변수 이름 ; underscore
 - 메소드(함수) 이름 ; underscore
 - 클래스 이름 ; Camel
 - 파일 이름 ; underscore

## Javascript

 - 변수 이름 ; underscore
 - 메소드(함수) 이름 ; underscore
 - 클래스(네임스페이스) 이름 ; Camel
 - 파일 이름 ; underscore

[2017-03-12 07:39] juice500ml commented on #71
HTML이랑 CSS도 잡아야 합니다 ㅋㅋ

[2017-03-12 11:12] minhoryang commented on #71
앜ㅋㅋㅋㅋ 이게 그거구나ㅋㅋㅋㅋ

[2017-03-12 12:57] shlee322 commented on #83
지나가다 psql에 1따봉 드리고 갑니다.

[2017-03-12 13:52] juice500ml commented on #14
PostgreSQL로 갈아타는 경우 Custom JSON Field가 필요 없어집니다! #83

[2017-03-12 13:52] juice500ml commented on #83
PostgreSQL로 가죠! 추가적으로 #14 에서 생겼던 이슈도 확인합시다.

[2017-03-12 13:58] punkyoon commented on #71
@juice500ml 나머지는 광희가..정하는걸로..!

[2017-03-12 14:06] juice500ml commented on #71
front쪽은 angluar/react 정해지면 그 스타일대로 가겠습니다~

[2017-03-12 14:28] juice500ml commented on #60
Comment by @punkyoon

해당 매뉴얼 작성 이후 close하겠습니다~

[2017-03-12 17:02] punkyoon opened #85 "가입만 되고 탈퇴가 안됩니다."
`/services/`화면에서 user_name 클릭시 나오는 메뉴에서 `Logout`뿐만 아니라 `회원 탈퇴`도 필요합니다.

[2017-03-13 00:41] punkyoon commented on #49
#84 에서 추가해준 `autodeploy`명령을 통해서 손쉽게(?) OAuth설정이 가능해졌습니다.

그래도 에러 페이지는 만들어줘야..겠죠?

[2017-03-13 00:45] punkyoon commented on #64
우선 django에서 사용할 테스트 케이스를 작성하려고 하는데, 어떤 케이스들을 작성하면 좋을까요?

(ex. 최대 접속 가능수, ..)

[2017-03-13 00:54] punkyoon commented on #64
[Testing Channels Consumers](https://channels.readthedocs.io/en/stable/testing.html)

https://channels.readthedocs.io/en/stable/testing.html#clients

[2017-03-13 01:01] punkyoon commented on #64
[Testing in Django](https://docs.djangoproject.com/en/1.10/topics/testing/)

[2017-03-13 01:19] juice500ml commented on #49
들어가야 할 페이지만 대충 만들어놓으면 제가 나중에 디자인 잡겠습니다~

[2017-03-13 01:43] punkyoon commented on #85
1ba41cad8a9f41512dfaeb687f97bcba333c9e2c

`withdraw`함수 만들어 뒀고, `{% url 'withdraw' %}` 실행하는 순간 회원탈퇴가 완료됩니다.

회원탈퇴 페이지만 만들어주면 될 듯 합니다!

@juice500ml

[2017-03-15 05:22] punkyoon commented on #85
#59 까지 이번 이슈에서 같이 해결 해볼까요? @juice500ml

[2017-03-15 05:24] juice500ml commented on #85
@punkyoon 이슈는 분리하는게 맞는 것 같습니다! TODO until this saturday~

[2017-03-15 05:33] punkyoon commented on #85
@juice500ml 네넵 통합하지는 말고 같이 해결해보면 좋을 거 같아욧.

[2017-03-16 07:12] shlee322 opened #88 "oauth 우회 가입이 됩니다."
http://codingnightlive.com/accounts/signup 을 통해 구글 아이디를 안쓰고 강제 가입이 됩니다 ㅠㅠ

[2017-03-17 01:57] juice500ml opened #89 "Commit message를 제대로 씁시다!"
https://chris.beams.io/posts/git-commit
다들 ACK 해주시면 Close합니다~

[2017-03-17 08:03] punkyoon commented on #89
흑...넵★

[2017-03-18 08:41] fuzzythecat commented on #89
넵넵

[2017-03-18 11:38] juice500ml commented on #85
@punkyoon 이거 생각해보니까... GET으로 하면... 너무 악용의 소지가 큰데요...

[2017-03-18 12:03] punkyoon commented on #85
@juice500ml c2e0c7854c655b8e6a235550cece1daae879e727 에 request가 POST인지 확인하는 코드 넣어봤어요!

[2017-03-18 12:04] juice500ml commented on #89
:1st_place_medal:

[2017-03-18 12:04] #89 closed, assigned to juice500ml, punkyoon, fuzzythecat

[2017-03-18 13:44] juice500ml commented on #63
@punkyoon
docker image 하나만 제외시켜서 재빌드해서 다시 띄우는 시나리오만 적으면 될 것 같습니다~

[2017-03-18 15:04] #85 closed, assigned to juice500ml, punkyoon

[2017-03-18 15:05] juice500ml commented on #81
#80 에서 같이 처리됩니다.

[2017-03-18 15:05] #81 closed, assigned to juice500ml, punkyoon

[2017-03-19 13:28] minhoryang commented on #88
현재 이 프로젝트에서 accounts/로 시작하는 url을 정의하는 urls.py 들:
- https://github.com/pennersr/django-allauth/blob/master/allauth/socialaccount/urls.py
- https://github.com/pennersr/django-allauth/blob/master/allauth/account/urls.py
- https://github.com/pennersr/django-allauth/blob/master/allauth/socialaccount/providers/google/urls.py
- https://github.com/pennersr/django-allauth/blob/0367b51514e592db011511e420570

[2017-03-19 13:32] #80 closed, assigned to punkyoon

[2017-03-19 14:07] minhoryang commented on #64
Front의 Behavior Scenario 를 알려주시면 #47 에서 도움이 될 거에요.

[2017-03-19 14:10] minhoryang commented on #80
혹시 이거에 대한 WIKI도 작성해야하나요? 만약 그렇다면 어디에 작성할까요?

[2017-03-19 16:51] punkyoon commented on #80
@minhoryang #69 와 관련되어있습니다! 아무래도 작성한다면 doc에 작성해야할 것 같아요.

[2017-03-22 04:36] punkyoon commented on #83
http://egloos.zum.com/ita9naiwa/v/4211543

## 설치

- python3

[code]

- python 2.x

[code]

## 로그인

[code]

## 접속

[code]

## DB 생성 및 각종 설정

[code]

## psql 나가기

[code]

## postgres logout

[code]

[2017-03-23 04:03] punkyoon commented on #83
postgreSQL로 전환시 일부 TextField -> JSONField로 변경 필요

[2017-03-23 04:13] punkyoon commented on #83
위의 링크된 자료는 ubuntu 14.04 기준으로 작성된 문서를 번역한 것입니다. 아래의 링크는 ubuntu 16.04를 기준으로 새로이 작성된 문서입니다.

https://www.digitalocean.com/community/tutorials/how-to-use-postgresql-with-your-django-application-on-ubuntu-16-04

[2017-03-23 04:41] punkyoon commented on #83
## postgreSQL command

http://dbrang.tistory.com/749

1. codingnightlive DB 접속

[code]

2. codingnightlive DB 테이블, 인덱스, 시퀀스, 뷰 목록 조회

[code]

[2017-03-23 04:57] punkyoon commented on #83
5d1ad47e1f9367326d0e881dda0ece2118b77957

사용자 입장에서 deploy를 할 때,

1. postgreSQL 설치
2. postgreSQL 접속 후, `codingnightlive` DB 생성
3. `codingnightlive` DB 관리 계정 생성 (username :  `cnluser` / password ; `temporary`)
++ `coding_night_live/coding_night_live/settings.py`의 `DATABASES`에 적혀있는 `username`, `password`와 같아야 함

[2017-03-23 12:59] juice500ml commented on #83
그러면 automation 문제는 어떻게 해결해야하나요? postgreSQL로 쿼리를 날리는 방식이 있나요?

[2017-03-23 13:06] punkyoon commented on #83
@juice500ml 그 부분에 대해서 조금 더 찾아봐야 할거같아요~~~ 일단 연동 자체는 완료하고, 잘 동작하는 거 까진 확인했습니다. 추가로 일부 필드를 JSONField로 변경 해주는 것이 남아있어요.

[2017-03-23 17:58] punkyoon commented on #83
## psycopg2 사용

http://stackoverflow.com/questions/31192560/postgresql-and-python-automated-password-change

http://stackoverflow.com/questions/19426448/creating-a-postgresql-db-using-psycopg2

[2017-03-26 08:37] punkyoon commented on #52
https://docs.djangoproject.com/en/dev/topics/security/#host-headers-and-virtual-hosting

[2017-03-26 09:08] minhoryang commented on #52
[code]
는 이 문제를 해결을 못해주고.

[code]
를 settings.py에 추가하는 걸로 해결이 되네요.

[2017-03-26 09:14] minhoryang commented on #52
SECURE_PROXY_SSL_HEADER을 coding_night_live/settings.py에 기본값으로 넣어도 될까요?

[2017-03-26 09:32] minhoryang commented on #52
기본값으로 넣으면 안될 것 같습니다. 그냥 이 이슈를 끝내겠습니다.

https://docs.djangoproject.com/en/dev/ref/settings/#std:setting-SECURE_PROXY_SSL_HEADER

[code]

[2017-03-26 09:32] #52 closed, assigned to juice500ml, punkyoon

[2017-03-26 12:45] punkyoon commented on #50
스크립트도 완성되었고 이제 큰 문제는 없을 것으로 보이는데 이슈를 닫아도 될까요?

[2017-03-26 13:36] minhoryang commented on #50
네! :)

[2017-03-26 13:36] #50 closed, assigned to juice500ml, punkyoon

[2017-03-29 14:59] punkyoon commented on #83
psycopg2를 사용하기에는 약간의 제약사항이 있는 것 같아, Makefile로 만들어보고 있는 중입니다.

3164e1b174573f8f4ddc9e1514107c345008323c

[2017-03-30 11:13] punkyoon commented on #83
42033349546d96de130fefb9a9f7f4528df64324

우선은 `test/` 폴더안에 `Makefile`을 만들어 두었습니다.

제대로 잘 동작하는 것 까지는 확인했는데, 기존에 만들어둔 Makefile과 병합해야할 필요가 있는 것 같습니다.

@juice500ml @minhoryang @fuzzythecat @taeseunglee

** 참고한 자료들

https://github.com/makinacorpus/ODE/blob/master/Makefile

https://www.postgresql.org/docs/9.3/static/app-dropdb.html

http://stackoverflow.com/questions/28585171/how-to-alter-role-from-comm

[2017-04-01 09:23] punkyoon commented on #69
[coding-night-live-doc](https://github.com/dduk-ddak/coding-night-live-doc)

문서를 작성하다보면 괜한 프로젝트 파일만 더 무거워질 것 같습니다.

따로 doc repository를 두어 관리를 하려고 하는데, 어떠신가요?

@juice500ml @fuzzythecat @minhoryang @taeseunglee @AilisObrian

[2017-04-01 10:47] juice500ml commented on #69
!! 그런가요 docs 폴더 하나면 되지 않을까 하기는 햇는데..! 다른 분들은 어떻게생각하시나용?

2017. 4. 1. 오후 6:23에 "punkyoon" <notifications@github.com>님이 작성:

[2017-04-01 13:33] taeseunglee commented on #69
@punkyoon 저도 docs 폴더 하나면 충분하다고 생각하는데, doc이 많이 무겁거나 그럴 예정인가요?

[2017-04-01 15:33] punkyoon commented on #69
저희 프로젝트를 zip으로 다운 받으면 약 4.8MB의 용량을 차지하는 걸 확인할 수 있는데, `docs`에 있는 파일을 보면 무려 3.29MB나 차지하는 걸 확인할 수 있습니다...

물론 gif파일이 많아서 그런거지만, 사용자 입장에서 프로젝트를 다운받을 때 gif까지 설치할 필요가 있나 싶어서요..

또한, 저는 기존 `wiki`를 `readthedocs`로 서비스하는것까지 염두에 두고 있는데, 만약 해당 서비스를 이용하게 되면 저희 프로젝트에 포함되지 않았던 `wiki`문서들이 `docs`에 위치하게 됩니다. 이때문에 전체적인 프로젝트 용량은 더 무거워지겠죠!

그래서 docs를 아예 다른 repo로 분리하자는 뜻이였습니다!

[2017-04-01 15:40] minhoryang commented on #69
+1 to `coding-night-live-doc`!!

용량은 별 걱정거리는 아닌데요.
docs가 git이랑 같이 관리되야한다라는 공감대가 생겼다는게 매우 만족스럽습니다.
매 commit당 docs를 수정하는게 힘드니, repo를 나누고, 해당하는 버전을 명시하도록 `-doc`에 git hook을 걸어두면 매우 좋을 것 같습니다!

[2017-04-03 02:21] juice500ml commented on #69
ㅇㅋㅇㅋ 좋네요!

[2017-04-03 09:12] punkyoon commented on #69
그러면 추후 프로젝트 관련 문서들은 [coding-night-live-doc](https://github.com/dduk-ddak/coding-night-live-doc)에서 관리하도록 하겠습니다..!

@fuzzythecat

[2017-04-03 10:00] punkyoon commented on #83
domain name이 너무 길어서 `django.db.utils.DataError: value too long for type character varying(40)`오류가 발생하는 경우,  `psql`에서 `ALTER TABLE socialaccount_socialapp ALTER COLUMN name TYPE character varying(65);` 명령 입력!

[2017-04-05 04:19] #88 closed, assigned to juice500ml, punkyoon

[2017-04-05 04:19] punkyoon commented on #88
1번 방법으로 해결하였습니다.

[2017-04-05 05:41] punkyoon commented on #60
http://raccoonyy.github.io/using_env_variables_in_nginx_conf_without_lua_or_perl_module/

[2017-04-09 06:08] punkyoon opened #93 "발표용 모드가 필요할 거 같아요"
현재 진행자 화면에서는 md 작성 + 렌더링된 md view가 같이 보이는데요,

실제 발표할 때를 생각해보면 프로젝터에 컴퓨터를 연결하고 진행자가 보고 있는 화면을 공유하게 됩니다.

이 때, 참여자들은 진행자의 화면을 보게되는데, 작성화면과 렌더링된 화면이 같이 보이면 약간 지저분하고 보기좋지 않나 하는 생각이 듭니다.

하단에 스위치 같은 것을 두어서 스위치를 on시키면 참여자들이 접속해서 볼 수 있는 화면처럼 렌더링된 md view만 보이게 하면 어떨까요?

[2017-04-09 07:01] punkyoon commented on #83
## 현재 남은 사항들

1. postgreSQL Makefile 병합

2. Docker - postgreSQL 작성

위 두가지 사항만 완료되면 이 이슈를 닫을 수 있습니다.

[2017-04-09 07:03] juice500ml commented on #93
오호 그게 더 나을까요? 사실 참여자들이 접속해서 볼 수 있는 화면이라면 과연... 차라리 구글드라이브처럼 드래그했을 때 해당 드래그한 부분이 highlight되면 더 좋을수도 있겠네요!

[2017-04-09 13:46] punkyoon commented on #60
nginx에서 admin_ip_whitelist 작성하는 부분까지 코드를 만들어놓고 이슈를 닫아야할 것 같습니다.

[2017-04-09 14:20] punkyoon commented on #49
1e0002cd5f3ba8b93abe6f28c1584725f64cfd85

500 error 페이지 뱉도록 했습니다.

[2017-04-09 14:20] #49 closed, assigned to punkyoon

[2017-04-10 02:50] #16 closed, assigned to punkyoon, fuzzythecat

[2017-04-10 04:11] juice500ml commented on #16
띠용? @punkyoon

[2017-04-10 07:53] minhoryang commented on #83
찔림

[2017-04-10 17:03] minhoryang commented on #83
makefile지금 살펴봤어요! 잘 동작하도록 짜여진 것 같아서 makefile merge하는걸 @taeseunglee 님이 진행하셔도 좋을 것 같습니다!
저는 2번 Docker-postgreSQL작성하는거 진행할게요.

[2017-04-10 18:05] minhoryang commented on #83
spot instance하나 띄워서 테스트해보고있는데.... ㅠㅡㅠ 설정 잘못해서. 비싸게샀어용 ㅠㅠㅠ

[2017-04-10 18:12] minhoryang commented on #83
secret_key_gen.py가 빠졌네요...는 저의 불찰입니다. 우와우...
a135e31fb5bc0c87d2e94023e04a7435b96bd6fd
이런실수를하다니.

[2017-04-10 19:13] minhoryang commented on #83
https://github.com/dduk-ddak/coding-night-live/compare/issue_83_docker

현재 남은 문제가 2개가 있는데요
1. db초기화문제
2. postgresql가 켜질때까지 worker가 기다리는 문제

1번은 사용자가 수동으로 make docker-prepare하면 될 것 같구요. (짜는중)
2번은 db가 켜질때까지 worker가 그냥 잘 기다릴 수 있을 것 같아서..(엉?) 1번 다 짜고 테스트해볼게요.
요청만 없으면 되지 않을까욥..?

[2017-04-11 11:40] minhoryang commented on #49
django에서 에러페이지 만드는게 진짜 어려운거였군요..... 특히나 중간에 channels가 끼면, 핵어렵네요... ㅠㅠ

[2017-04-11 12:54] minhoryang commented on #63
- Rebuild `daphne` & `worker` and Relaunch.
[code]

[2017-04-11 13:02] minhoryang commented on #69
제가 coding-night-live-doc에 권한이 없는 것 같습니다 ㅠㅠ

[2017-04-11 15:40] punkyoon commented on #69
@minhoryang  dduk-ddak으로 초대해드릴까요..?!

[2017-04-11 15:41] minhoryang commented on #69
@punkyoon 아 이 repo에 권한이 있길래 제가 dduk-ddak에 속해있는건줄 알았어요!
초대해주시겠어요?

[2017-04-11 15:43] punkyoon commented on #69
@minhoryang 초대해드렸습니다!

[2017-04-11 15:44] minhoryang commented on #69
Yay!

[2017-04-17 14:39] punkyoon opened #95 "script 실행 취약점"
채팅창에서

[code]

[code]

위와같은 채팅을 입력하면 같은 방에 있는 모든 유저들이 스크립트의 영향을 받습니다.

[2017-04-17 14:42] punkyoon commented on #95
![kakaotalk_20170417_232718481](https://cloud.githubusercontent.com/assets/11442383/25092176/78f5122e-23c7-11e7-8a20-8a5025660ac2.png)

![kakaotalk_20170417_232344711](https://cloud.githubusercontent.com/assets/11442383/25092179/7abba65e-23c7-11e7-977e-d2609d5b5465.png)

[2017-04-23 11:42] taeseunglee opened #96 "CNL icon이 잘 안보여요 엉엉"
엉엉?

![kakaotalk_photo_2017-04-23-20-35-59_83](https://cloud.githubusercontent.com/assets/9005291/25313182/e0b3693c-2864-11e7-9075-731e276f34cd.png)

[2017-04-23 15:54] punkyoon commented on #14
3cdb5ada5d294842c5635e51f339451152bee824

JSONField로 변경 완료하였습니다.

[2017-04-23 15:56] punkyoon commented on #83
이제 남은 문제는 `Makefile` 합치기, 문서화, postgre pw정도가 있는 거 맞나요?
@juice500ml @minhoryang @fuzzythecat @taeseunglee

[2017-04-24 01:40] juice500ml commented on #83
(ACK) 넵 그렇습니다~

[2017-04-24 01:41] juice500ml commented on #14
#83 에서 처리되었습니다. thx to @punkyoon

[2017-04-24 01:41] #14 closed, assigned to punkyoon

[2017-04-24 01:50] juice500ml commented on #58
http://dag.wiee.rs/home-made/unoconv/ ( https://github.com/dagwieers/unoconv )
이걸로 ppt->pdf 변환을 한 뒤에
http://www.imagemagick.org/script/index.php ( Python bindings: http://docs.wand-py.org/en/0.4.4/ )
로 pdf->img 변환을 하면 될 듯 한데,

unoconv가... 좀...

[2017-04-24 01:56] juice500ml commented on #95
고쳐야 되는 부분:
https://github.com/dduk-ddak/coding-night-live/blob/master/static/js/cnl_chats.js#L287-L315
obj.description이 pure text로 들어감.

힌트:
http://stackoverflow.com/questions/9735045/is-jquery-text-method-xss-safe

@taeseunglee 해보실?

[2017-04-24 01:57] juice500ml commented on #95
동일 취약점이 전체에 걸쳐있음 ㅠ

Poll 취약점
https://github.com/dduk-ddak/coding-night-live/blob/master/static/js/cnl_chats.js#L379

Notice 취약점
https://github.com/dduk-ddak/coding-night-live/blob/master/static/js/cnl_chats.js#L342

[2017-04-24 01:59] juice500ml commented on #96
시무룩

[2017-04-24 02:31] taeseunglee commented on #95
그래!

[2017-04-24 05:06] punkyoon commented on #95
채팅창으로 들어오는 모든 값들에 대해서 처리를 해줘야하네요

[2017-04-24 09:35] minhoryang commented on #58
@juice500ml  unoconv에 해당하는 https://wiki.openoffice.org/wiki/PyUNO_bridge 이라는게 있네요

[2017-04-24 10:44] juice500ml opened #97 "refactoring for ChatAndReply methods"
https://github.com/dduk-ddak/coding-night-live/blob/master/manage_chat/models.py#L128
[code]
-->
[code]

**No need for calculate time twice!**

[2017-04-24 11:08] juice500ml commented on #58
오! 그 두개로 진행할게용~

[2017-04-24 14:32] minhoryang commented on #58
wand말구 https://github.com/python-pillow/Pillow 도 있어요

[2017-04-24 14:35] juice500ml commented on #58
으억 생각해보니 이미지 업로드 기능부터 만들어야했던거네요 흑흑

2017. 4. 24. 오후 11:32에 "Minho Ryang" <notifications@github.com>님이 작성:

[2017-04-25 07:12] taeseunglee commented on #95
기존의 out part의 모습.
<img width="768" alt="2017-04-25 3 51 33" src="https://cloud.githubusercontent.com/assets/9005291/25372228/7dfb3d58-29cf-11e7-8616-87393f0d568a.png">

현재의 수정한 out part의 모습.
<img width="766" alt="2017-04-25 3 52 21" src="https://cloud.githubusercontent.com/assets/9005291/25372250/97e997d2-29cf-11e7-92d4-8af0417e25d1.png">

이 부분도 이렇게 바꾸면 되겠죠!?

@punkyoon @juice500ml @fuzzythecat  @

[2017-04-25 07:27] juice500ml commented on #95
수정한게 정확한거같아요!! :+1:

[2017-04-25 11:02] punkyoon commented on #95
수정한게 맞다고 생각합니다!

[2017-04-25 12:13] taeseunglee opened #98 "텍스트 출력 효과 수정(코드가 이쁘게 출력되지 않아요 빼액)"
(시간 남으면 해봐요, enhancement)

- 코드는 이쁘게 나와야한다고 생각합니다!!!! -

<img width="771" alt="2017-04-25 7 22 55" src="https://cloud.githubusercontent.com/assets/9005291/25384111/01f62026-29fa-11e7-9507-8be1b9052c46.png">

* 왼쪽 텍스트에는 h1에 초록색으로 잘 나오지만 오른쪽에는 색은 없고 bold 처리되었어요 흑흑. (초록색이 좋은데)
* 어떻게 tab이 8칸이나 될 수 있죠? - tab에 관한 문제, 그리고 아직 확인은 못한 css를 추가해주면 좋을 거 같아요!

그래서 [google-code-prettify](https://github.com/googl

[2017-04-25 17:20] minhoryang commented on #95
엌ㅋㅋㅋㅋㅋ이게뭐얔ㅋㅋㅋㅋㅋㅋ내눈!!!

[2017-04-29 12:18] taeseunglee commented on #97
label의 경우에는 self.room.label에 존재해서 self.room.label로 고칩니다. @juice500ml
그리고 라인이 너무 길어서

[code]
와 같은 꼴로 수정하겠습니다

[2017-04-29 12:49] taeseunglee opened #99 "Refactoring lines that are too long"
https://github.com/dduk-ddak/coding-night-live/blob/master/manage_chat/consumers.py#L18
https://github.com/dduk-ddak/coding-night-live/blob/master/manage_chat/consumers.py#L42
등등...

[2017-04-29 14:35] punkyoon commented on #99
현실적으로 줄일 수 있나요? 줄인다면 어떤 부분을 줄이는게 좋을까요?

[2017-04-29 14:49] taeseunglee commented on #99
앗 ㅠㅠ issue 제목을 너무 잘못 적었나요...?
한 라인이 80캐릭터를 넘어서(i.e. 너무 길어서) 파라미터를 한 줄에서 여러 줄으로 바꾸는 것을 진행하고자 하려 했어요!

[2017-04-29 14:56] punkyoon commented on #99
파라미터가 너무 많다고 하는줄 알았어요 ㅋㅋ

[2017-04-30 14:53] juice500ml commented on #99
travis.ci에서 flake를 다시 좀 빡세게 적용시킬까요? 어떻게생각하세용~ @punkyoon

[2017-04-30 14:55] punkyoon commented on #99
@juice500ml 네~ 몇가지 예외로 둿던 것들 빼면 될 것 같아요!

[2017-04-30 15:00] juice500ml commented on #99
https://github.com/dduk-ddak/coding-night-live/blob/master/.travis.yml
여기서 flake로 check할 때 ignore을 몇 개 했어요! 여기서 뭘 다시 넣는게 좋을까요? @taeseunglee

[2017-04-30 15:19] taeseunglee commented on #99
E501을 ignore에서 빼서 글자수 80글자 못넘게 하는 게 좋을 것 같아요!

그리고 F841이 쓰이지 않는 변수에 대해서 경고 띄워주던데 (local variable '변수이름' is assigned to but never used), 특별한 이유가 없다면 ignore option에서 빼주는 게 좋을 것 같아요.

[2017-04-30 15:30] juice500ml commented on #99
좋아요~ 이번 이슈에서는 E501만 고칠까요?

[2017-04-30 15:58] taeseunglee opened #100 "채팅창에 여러 줄을 입력해 볼까요?"
채팅창이 input tag로 되어있어서 여러 줄을 못치고 있습니다! 그래서 input tag를 textarea tag로 바꾸고
textarea에서 Enter 입력시에 Submit하는 기능을 추가하면 채팅창에 여러 줄을 입력할 수 있을 것 같아요.

그래서
* Reply form을 수정해야한다. (https://github.com/dduk-ddak/coding-night-live/blob/master/templates/room.html#L294-L302)
    * input tag -> textarea tag
    * textarea에서 새로운 줄 추가하는 것에 대해서,
       * Enter 입력시 submit해주는 function이 필요해 보여요.
        * Shift + Enter 입력시,

[2017-04-30 15:59] #97 closed, assigned to taeseunglee, punkyoon

[2017-04-30 16:00] #95 closed, assigned to juice500ml, taeseunglee

[2017-05-01 00:29] taeseunglee commented on #99
네~

[2017-05-04 07:19] tronze opened #101 "XML 및 HTML 출력"
![image](https://cloud.githubusercontent.com/assets/22143659/25693594/1fc280c6-30e5-11e7-9040-fdd291a81e6d.png)
![image](https://cloud.githubusercontent.com/assets/22143659/25693599/2d341332-30e5-11e7-8be1-8ebc3cb42b1e.png)

코드 작성할 때 HTML이나 XML이라는 것을 표시 안해주면 코드가 안뜹니다!
표시 안해줬을 때:
![image](https://cloud.githubusercontent.com/assets/22143659/25693645/6e6824ce-30e5-11e7-83b2-11214dbac3ee.png)

[2017-05-04 09:49] taeseunglee commented on #101
<img width="760" alt="2017-05-04 6 48 35" src="https://cloud.githubusercontent.com/assets/9005291/25698566/511ef3e2-30fa-11e7-91be-d5702bc5e4c0.png">

...?
issue_83 branch에 있는 코드 쓴거 맞나요
@tronze

[2017-05-04 10:03] tronze commented on #101
@taeseunglee
codingnightlive.com에서 한겁니다!

[2017-05-04 10:11] taeseunglee commented on #101
@tronze
codingnightlive.com에는 아직 적용이 안됐어요 흑흑...

[2017-05-04 13:27] #101 closed, assigned to taeseunglee, tronze

[2017-05-06 10:54] minhoryang commented on #83
으아;;; 끝냅시다! ㅠㅠㅠ

[2017-05-06 13:23] minhoryang commented on #83
리뷰를 해주시면 감사히 받겠습니다! @punkyoon @juice500ml @taeseunglee

[2017-05-07 09:59] minhoryang commented on #83
`makefile`에서 이런식으로 `.prepared`의 여부를 가지고, 처음에만 실행하고, 그 다음번부터 실행하지 않도록 플래그처럼 파일을 썻었는데요.
[code]
얘가 `.prepared`로 하면 안되고 `.prepared.out`으로 하면 되는걸 발견했습니다.
그러니까 확장자가 있어야하는데요... f**k
그걸 넣었습니다.

    이상하고 아름다운 makefile나라

그리고 이미 파일이 존재해서, 다시 빌드할 필요가 없는걸 timestamp로 비교하더라구요.
그러니까 makefile을 수정하면, 다시 저 .prepared로 들여가려고 합니다.
(이건 못고침)

[2017-05-07 10:11] minhoryang commented on #83
하... makefile어렵당;;; 빨리 버리고 python으로 가고싶어요

[2017-05-07 10:44] punkyoon commented on #83
어쩌다보니 python으로 시작해서 makefile로 했다가 다시 python으로 돌아가야하는 상황이 되었군요..

[2017-05-07 10:47] punkyoon commented on #83
이 이슈가 닫히고 나면,

http://guswnsxodlf.github.io/automate-deploy-using-fabric

https://beomi.github.io/2017/03/20/Deploy-Django-with-Fabric/

Fabric으로 바꾸는 작업을 계속 진행해야할 것 같습니다.

[2017-05-07 14:31] minhoryang commented on #83
그것도 제가 총대매볼게요ㄲㄲㅋㅋㅋㅋ

[2017-05-07 15:16] minhoryang commented on #83
한번 돌려보시고, 테스트해보시겠어요?

[2017-05-07 15:48] punkyoon commented on #83
@minhoryang 잘동작하는거 확인했습니다!

[2017-05-07 16:20] minhoryang commented on #83
그럼 이 이슈 닫고 master에 머지할까요?

[2017-05-07 16:50] punkyoon commented on #83
@minhoryang 네 바로 병합해도 될 것 같네요!

[2017-05-07 16:58] #83 closed, assigned to juice500ml, punkyoon, fuzzythecat

[2017-05-15 09:48] punkyoon commented on #99
acd0771e4863a218ba5c80e3aeca6c8369bdc5e1

라인 캐릭터를 최대한 줄일 수 있는대로 줄여봤는데..

[/manage_room/consumers.py#L284](https://github.com/dduk-ddak/coding-night-live/blob/master/manage_room/consumers.py#L284) 같은 친구들은

[code]

이런식으로 줄여줘야겠죠..?

[2017-05-15 10:40] punkyoon commented on #69
`coding-night-live`의 위키에는 안바뀌는 내용(Project 소개, syntax, ..)만 넣어두고,

바뀔 가능성이 있는 내용들은 `coding-night-live-doc`에서 관리하기로 하고,  이슈 닫겠습니다.

[2017-05-15 10:40] #69 closed, assigned to fuzzythecat

[2017-05-15 15:32] juice500ml commented on #99
좋은듯요~.~

[2017-05-21 10:08] punkyoon commented on #99
f6835a50fd34a5bdaa349eb516293b7b39e9beaa

E501은 아니지만, 2가지 부분에 대해서 해결해두었습니다.

[2017-05-21 12:16] #63 closed, assigned to juice500ml, punkyoon

[2017-05-21 12:32] minhoryang commented on #63
Yay!!

[2017-06-05 01:48] juice500ml opened #102 "Kakaotalk-like style link (by @minhoryang)"
Kakaotalk-like style with representing / default image with short description!
Idea by @minhoryang

[2017-06-05 01:49] punkyoon commented on #102
카카오톡같은게 뭐죠..? 사진같은건 없나요??

[2017-06-05 01:53] juice500ml commented on #102
썸네일이랑 사이트 제목이랑 내용 일부 보이게하는거!

[2017-06-05 02:05] punkyoon commented on #102
아 뭔지 알거같아요! 좋은듯 합니다

[2017-07-10 16:33] punkyoon commented on #47
angular4!

[2017-07-13 05:32] minhoryang commented on #47
Angular5!

[2017-07-20 07:06] punkyoon commented on #71
https://github.com/dduk-ddak/coding-night-live/blob/master/manage_room/views.py#L16

제가 위에서 정한 기준에 안맞아요...★ 집에가서 수정할게요.

[2017-07-20 16:51] punkyoon commented on #46
multi-edit을 위한 첫 단계......... 공동작업자 추가하기!

https://docs.djangoproject.com/en/1.11/topics/db/examples/many_to_many/

[2017-07-20 16:53] punkyoon commented on #74
저는 override 해야한다고 생각합니다...

[2017-07-29 06:11] punkyoon commented on #83
# fabric3 with circus

[code]

[2017-08-10 06:07] punkyoon commented on #33
user_count는 둘째치고, 슬라이드 순서를 막 변경하다보면 어느새 일반 참여자 입장에서는 슬라이드 목록이 사라져서 안보이더라구여... 물론 새로고침하면 잘 뜨기는 하는데..

refresh 버튼이라도 넣어야하는걸까요?

[2017-08-10 06:38] punkyoon commented on #60
nginx conf에서...

[code]

해주면 된다고는 하는데 한 번 테스트를 해봐야 할 것 같아요~

[2017-08-10 06:40] punkyoon commented on #60
아래와 같은 방법도 사용할 수 있다고 하네요.

https://www.digitalocean.com/community/tutorials/how-to-set-up-password-authentication-with-nginx-on-ubuntu-14-04

http://nginx.org/en/docs/http/ngx_http_auth_basic_module.html

[2017-08-10 06:48] punkyoon commented on #99
E501에 해당하는 라인들에 대해서 살펴보았는데..

이 상태에서 더 줄이면 오히려 가독성이 떨어질 것 같다는 개인적인 생각이 들었습니다.

그리고 그동안 많은 라인들에 대해서 줄여왔고, flake8로 걸러지는 대부분의 이슈를 해결했기 때문에 가독성이 이전에 비해 상당히 높아졌다고 생각합니다.

다들 E501에 해당하는 라인들에 대해 살펴보시고, 더 줄여야겠다는 생각이 드시면 최대한(...)으로 줄여보고 이슈를 닫겠습니다.

@taeseunglee @juice500ml @minhoryang

[2017-08-10 08:15] minhoryang commented on #99
E501에 글자 수 제한을 80자가 아니라 120자로 풀면 어떨까요?

[2017-08-10 08:35] minhoryang commented on #99
#103, #104 리뷰해주세요!

[2017-08-10 08:41] #99 closed, assigned to taeseunglee, punkyoon

[2017-10-22 03:18] Red-Portal opened #105 "web hosted service is down"
[http://codingnightlive.com](http://codingnightlive.com) is down
if the link is supposed to be down permanently,
please update readme

[2017-10-22 04:47] punkyoon commented on #105
@Red-Portal 맞아요,,,서버가 비주기적으로 계속 다운이되는 경우가 발생하더라구요! 조만간 리드미 수정하겠습니다. 👍

[2017-10-30 18:31] #105 closed, assigned to nobody

[2017-11-04 08:46] itsnamgyu opened #106 "목차를 누를 수 있다는 피드백을 받고 싶어요!"
목차 항목에 마우스를 갖다 댔을 때 버튼처럼 마우스가 손가락 모양으로 바뀌었으면 좋겠어요!
항목을 누를때마다 죄짓는거같아효...

[2017-11-04 09:12] itsnamgyu opened #107 "사람 수 아이콘을 누르면 사람을 초대할 수 있을 것만 같아요!"
우측 상단에 사람 수를 표시하는 아이콘에 +가 들어가 있어서 누르면 다른 사람 초대하는 창이 뜰 것 같아요!
혹시 향후에 초대 기능을 추가할 생각이셨으면 issue close 해주세용...

[2017-11-04 09:33] yupyub opened #108 "웹 페이지를 PDF로 다운받으면 스크롤도 안되고 드래그도 안되요!!"
![default](https://user-images.githubusercontent.com/26006469/32404201-a13c0e12-c18e-11e7-97e8-7ff03626b91c.PNG)

[2017-11-04 14:48] punkyoon commented on #107
https://github.com/dduk-ddak/coding-night-live/blob/master/templates/room.html#L113

아이콘을 직접 찾아서 바꿔주시고, PR을 날려서 이참에 contributor에 동참해보시는건 어떨까요..?

[2017-11-04 14:49] punkyoon commented on #106
어떤 목차를 말씀하시는건지 스크린샷 부탁드립니다!

[2017-11-04 17:14] itsnamgyu commented on #106
여기서 Before we start..., Hello Web! 등의 목차는 누를 수 있는 요소임에도 불구하고, 마우스를 갖다 댔을 때 \<a\>링크\</a\>처럼 커서 모양이 안바뀌어요. 처음 마우스를 갖다 댔을 때 클릭하면 안될 것만 같은 느낌이 강하게 들었습니다!

<img width="223" alt="screen shot 2017-11-05 at 2 07 30 am" src="https://user-images.githubusercontent.com/23400562/32407548-1eaf5176-c1ce-11e7-8587-78fa113ebd68.png">

[2017-11-04 17:15] itsnamgyu commented on #107
PR 날려드렸습니다!

[2017-11-05 09:41] punkyoon commented on #106
아하 그러네요! 해당 문제랑 같이... 저 목차에 라운딩 처리 되어있는것도 같이 수정해야겠군요,,,★

[2017-11-09 16:19] juice500ml commented on #107
https://github.com/dduk-ddak/coding-night-live/pull/109 merged.

[2017-11-09 16:19] #107 closed, assigned to itsnamgyu

[2019-06-10 22:11] itsnamgyu commented on #48
📍